<!Doctype html>
<html>
<header>
    <head>
        <link type="text/css" rel="stylesheet" href="style.css"/>
        <title> User Signup Assignment </title>
    </head>
</header>

<body>
  <form action="text", method ='POST'>
    <label> Username
        <input name="user" value="{username}" type="text" />
    <label>
    <p class='error'>{user_error}</p>    
    
    <br>

    <label> Password
        <input name="password" type="password" />
    </label>
    <p class='error'>{password_error}</p>
    
    <br>
    
    <label> Verify Password
        <input name="verify_password" type="text" />
    </label>
    <p class='error'>{verify_password_error}</p>
    
    <br>
    <label> Email (optional)
        <input name="email" value="{email}" type="text" />
    </label>
    <p class='error'>{email_error}</p>
    <input> type ="submit" type='Validate' </input>
</body>
<footer>
    C. Jenkins Assignment 3
</footer>
</html>